= render partial: '/accounts/section_nav', locals: { account: @account }

= link_to t('actions.new'), new_account_message_path(@account)

%ul
  - @messages.each do |message|
    %li=link_to message.name, account_message_path(@account, message)
