= render partial: '/accounts/section_nav', locals: { account: @account }

= @message.name
= link_to t('actions.edit'), edit_account_message_path(@account, @message)
= link_to t('actions.delete'), account_message_path(@account, @message), method: :delete, data: { confirm: "Are you sure?" }
