= render partial: '/accounts/section_nav', locals: { account: @account }

= link_to t('actions.new'), new_account_feature_path(@account)

%ul
  - @features.each do |feature|
    %li=link_to feature.name, account_feature_path(@account, feature)
