= render partial: '/accounts/section_nav', locals: { account: @account }

= link_to t('actions.new'), new_account_route_path(@account)

%ul
  - @routes.each do |route|
    %li=link_to route.name, account_route_path(@account, route)
