- content_for :title do
  = t('.title')

= simple_form_for :account, url: accounts_path do |f|
  = f.input :name, as: :string
  = f.button :submit, t('forms.save'), class: 'btn btn-primary btn-small'
