= render partial: 'section_nav', locals: { account: @account }
= link_to t('actions.edit'), edit_account_path(id: @account.id)
= link_to t('actions.delete'), account_path(id: @account.id), method: :delete, data: { confirm: "Are you sure?" }
